body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    text-align: center;
}
a {
    text-decoration: none;
    color:#000;
}
#header .langSel {
    position:absolute;
    top:20px;
    right:10px;
}
#header .langSel #language {
    padding: 4px;
    width: 80px;
    border: 1px solid #999;
    font-size: 12px;
}
#header .logo .title {
    color: #03C75B;
    font-size: 35px;
}
.content {
    width: 450px;
    margin: 0 auto;
    margin-top: 30px;
}
#container .idField {
    border: 1px solid #999;
    background: #fff;
    height: 40px;
    text-align: left;
    cursor: pointer;
}
#container .pwField {
    border: 1px solid #999;
    background: #fff;
    height: 40px;
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
}
#container .idField #inputId {
    font-size: medium;
    position: relative;
    top:8px;
    left:5px;
    width: 95%;
    border: 0px;
    background: none;
    outline-style: none;
    cursor:pointer;
}
#container .pwField #inputPw {
    font-size: medium;
    position: relative;
    top:8px;
    left:5px;
    width: 95%;
    border: 0px;
    background: none;
    outline-style: none;
    cursor:pointer;
}

#loginBtn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #999;
    background: #03C75B;
    font-size: medium;
    color: #fff;
    height:50px;
    cursor:pointer;
}

.loginOption{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width:100%;
}

.loginOther{
    border-top: 1px solid #999;
    padding-top:25px;
}

.loginOption input[type="checkbox"] {
    display:none;
}
.loginOption input[id="rememberMe"]+label {
    display: inline-block;
    cursor:pointer;
    line-height: 22px;
    padding-left:22px;
    background:url('../image/check.png') left/22px no-repeat;
}

.loginOption input[type=checkbox]:checked+label{
    background-image: url('../image/checked.png');
}

.ipSec #ipOnOff {
    border:none;
    background: none;
    font-size: 15px;
    font-weight: bold;
    cursor:pointer;
    color: #03C75B;
}

.ipSec #ipOnOff.clicked {
    color:#000;
}

#container .content .loginOther .otherBtn {
    display: flex;
    justify-content:space-between;
    padding-top:25px;
}

#option1, #option2 {
    border: 1px solid #03C75B;
    width:45%;
    background: #fff;
    text-align: center;
}
#option1 button {
    width:100%;
    padding:15px;
    font-size: 15px;
    background: #fff;
    border: none;
    cursor: pointer;
}
#option2 button {
    width:100%;
    padding:15px;
    font-size: 15px;
    background: #fff;
    border: none;
    cursor: pointer;
}
.loginOther .loginSupport {
    padding-top:10px;
    font-size: 14px;
    color:#999;
    margin-bottom: 40px;
}

.loginBanner {
    width: 350px;
    height:150px;
    margin: 0 auto;
    border:1px solid #999;
}

#sep {
    border:none;
    padding: 0 2px;
}

#footer {
    padding-top:40px;
    font-size: 12px;
}
#footer .copyright {
    font-size:10px;
}
.loginBanner img{
    width: 350px;
    height: 100%;
}

@media (max-width:786px) {
    #container{
        margin:10px;
        width: auto;
    }
    #footer{
        display: none;
    }
    .content {
        width:100%;
    }
    .loginBanner {
        width:100%;
    }
    .loginBanner img{
        width:100%;
    }
    .container .idField label,
    .container .pwField label{
        width:90%;
    }
    .popUp {display: none;}
}
@media (max-width:500px) {
    /* .container .idField label,
    .pwField label{
        display:none;
    } */
    #option1 {
        margin-right: 10px;
    }
}


/* input 자동입력 시 배경색 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.popUp{
    position: absolute;
    text-align: left;
}
.popUp span{
    position: relative;
    color:#fff;
    font-size: 14px;
    margin: 5px 0 5px 0;
    right:85px;
    top:5px;
    padding:3px;
    padding-left:6px;
    background: linear-gradient(to right,#146df3,#dbbaf7);
}

#popClose {
    border:none;
    background: none;
    padding-left:7px;
    margin:0;
    cursor: pointer;
}