body {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
}

a {
    text-decoration: none;
    color:#000;
}

.mainWrap {
    padding: 10px 0 10px 0;
    width:100%;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0 auto;
}

.mainWrap .header .langSel {
    text-align: right;
    margin-right: 10px;
    width:100%;
}

.mainWrap .header .langSel #language {
    padding: 4px;
    width: 80px;
    border: 1px solid #999;
    font-size: 12px;
}
.container .content #loginFieldSet{
    margin:0;
    padding:0;
}
/* 
.mainWrap .container .content .loginField {
    display: flex;
    justify-content: center;
    flex-direction: row;
} */

.mainWrap .header .logo .title {
    color: #03C75B;
    font-size: 35px;
}

.container {
    width:450px;
    margin: 0 auto;
}
.content {
    width: 450px;
    margin: 0 auto;
    margin-top: 30px;
}

#loginFieldSet {
    border: none;
}

.container .idField {
    border: 1px solid #999;
    background: #fff;
    width: 100%;
    height: 40px;
    text-align: left;
}

.container .idField label{
    font-size:medium;
    width: 430px;
    outline-style: none;
    display: block;
    position: absolute;
    color:rgba(255, 255, 255, 0);
    margin : 9px 0 11px 12px;
    
}

.container .idField #inputId {
    font-size: medium;
    margin: 10px;
    width: 400px;
    border: 0px;
    background: none;
    outline-style: none;
}

.container .pwField {
    border: 1px solid #999;
    background: #fff;
    width: 100%;
    height: 40px;
    text-align: left;
    margin-top: 10px;
}
.container .pwField label{
    font-size:medium;
    width: 400px;
    outline-style: none;
    display: block;
    position: absolute;
    color:rgba(255, 255, 255, 0);
    margin : 9px 0 11px 12px;
    
}
.container .pwField #inputPw {
    font-size: medium;
    margin: 10px;
    width: 400px;
    border: 0px;
    background: none;
    outline-style: none;
}

#loginBtn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #999;
    background: #03C75B;
    font-size: medium;
    color: #fff;
    height:50px
}

.loginOption{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width:100%;
}


.loginOther{
    border-top: 1px solid #999;
    padding-top:25px;
}

.loginOther>span{
    font-size: 20px
}
/* 
input[type=checkbox]:not(old) {
    margin:0; 
    padding:0;
    opacity:0;
    background:url(./check.jpg) no-repeat 0 0;
    width:0;
} */

.container .content .loginOther .otherBtn {
    display: flex;
    justify-content:space-between;
    padding-top:25px;
}

#option1, #option2 {
    border: 1px solid #03C75B;
    width:42%;
    padding:15px;
    font-size: 15px;
    background: #fff;
    text-align: center;
}

.loginOther .loginSupport {
    padding-top:10px;
    font-size: 14px;
    color:#999;
}

.loginBanner {
    width:100%;
    height:150px;
    margin-top: 40px;
    border:1px solid #999;
}

#sep {
    border:none;
    padding: 0 2px;
}

.footer {
    padding-top:40px;
    font-size: 12px;
}

.footer .copyright {
    font-size:10px;
}

.loginBanner img{
    width:100%;
    height: 100%;
}